*{ 
    margin: 0;
    padding: 0;
}

.contenedor { 
    height: 500px;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.par { 
    display: flex;
    flex-direction: row;
}

.elemento { 
    border: 1px solid black;
    width: 20%;
    height: 30px;
    box-sizing: border-box;
}

.ele-1, .ele-7 { 
    height: 100%
}

.columna, .ele-2, .par { 
        height: 60%;
    }

.ele-3, .ele-6 { 
    height: 20%;
}

.ele-6 {
    height: 200px;
}